:root {
  --color-primary: #7d5a5a;
  --color-text: #3d3131;
  --color-text-light: #6e5c5c;
  --color-bg: #f9f4f1;
  --color-card: #ffffff;
  --color-accent: #d9bfb7;
  --color-danger: #a15252;

  --font-main: 'Segoe UI', 'Helvetica Neue', sans-serif;
}

body{
  background-color:  #f9f4f1;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    font-family: var(--font-main);
    color: var(--color-text);
  
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

